















.SignUpBox {

  /* height: 400px; */
  width: 400px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  /* filter: blur(2px); */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.836);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  
input{

  padding-block: 10px;
  margin-inline: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid ;
  outline: none;
  font-size: large;

}

label{
  margin-block: 10px;
  margin-inline: 10px;
}

button{
  padding-block: 12px;
  margin-block: 50px;
  margin-inline: 20px;
  background-color: blue;
  color: white;
}

.SignUp{

  text-align: center;
  padding-block: 10px;
  font-size: xx-large;
  font-weight: 600;

}

}



.HomeDiv{

  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,0%);


  .TableDiv{


    background-color: white;
    width: 80dvw;
    min-height: 80dvh;


    .AddData a{
      padding-block: 8px;
      background-color: blue;
      color: white;
      text-decoration: none;
      border: 1px solid black;
      padding-inline: 20px;

      position: absolute;
      top:4%;
      left: 50%;
      transform: translate(-50%,0);

    }


    table{

      position: absolute;
      top:10%;
      left:50%;
      transform: translate(-50%,0%);
      border: none;

      th{

        padding-inline: 50px;
        padding-block: 12px;

      }


      td{

        padding-inline: 50px;
        padding-block: 10px;

        button{
          padding-block: 8px;
          background-color: red;
          color: white;
          
    
        }

        a{
            text-decoration: none;
            padding-block: 8px;
            border: 1px solid black;
            color: white;
            background-color: green;
            margin-right: 3px;

        }
        

      }

    

    }

  }


}

